<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_DocumentManagement" />
                <binding name="BasicHttpBinding_Collaboration" />
                <binding name="BasicHttpBinding_Authentication" />
                <binding name="BasicHttpBinding_MemberService" />
                <binding name="BasicHttpBinding_Classifications" />
                <binding name="BasicHttpBinding_RecordsManagement" />
                <binding name="BasicHttpBinding_PhysicalObjects" />
                <binding name="BasicHttpBinding_ContentService" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://content.cgi.demo/cws/Authentication.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Authentication"
                contract="Authentication.Authentication" name="BasicHttpBinding_Authentication" />
            <endpoint address="http://content.cgi.demo/cws/Classifications.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Classifications"
                contract="Classifications.Classifications" name="BasicHttpBinding_Classifications" />
            <endpoint address="http://content.cgi.demo/cws/Collaboration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Collaboration"
                contract="Collaboration.Collaboration" name="BasicHttpBinding_Collaboration" />
            <endpoint address="http://content.cgi.demo/cws/ContentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ContentService"
                contract="ContentService.ContentService" name="BasicHttpBinding_ContentService" />
            <endpoint address="http://content.cgi.demo/cws/DocumentManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentManagement"
                contract="DocumentManagement.DocumentManagement" name="BasicHttpBinding_DocumentManagement" />
            <endpoint address="http://content.cgi.demo/cws/MemberService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MemberService"
                contract="MemberService.MemberService" name="BasicHttpBinding_MemberService" />
            <endpoint address="http://content.cgi.demo/cws/PhysicalObjects.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PhysicalObjects"
                contract="PhysicalObjects.PhysicalObjects" name="BasicHttpBinding_PhysicalObjects" />
            <endpoint address="http://content.cgi.demo/cws/RecordsManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RecordsManagement"
                contract="RecordsManagement.RecordsManagement" name="BasicHttpBinding_RecordsManagement" />
        </client>
    </system.serviceModel>
</configuration>